
<footer>
    <p>© Copyright 2013 The Mueller Law Firm. All Rights Reserved.</p>
    <div>
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </div>
</footer>

<!--parallax-->
<script src="/JS/imagesloaded.js"></script>
<script src="/JS/skrollr.js"></script>
<script src="/JS/skrollr_main.js"></script>

<!--menu overlay script-->
<script src="/JS/classie.js"></script>
<script src="/JS/demo1.js"></script>
<!--main js file-->
<script src="/JS/main.js"></script>
    </body>
</html>