<!DOCTYPE html>
<html>
    <head>
        <title>Mueller Law Firm</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!--bootstrap css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <!--bootstrap JS and popper-->
        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <!--main styles-->
        <link rel='stylesheet' href="/stylesheets/main.css">
        <!--font styles/scripts-->
       <link href="https://fonts.googleapis.com/css?family=Scope+One|Trocchi" rel="stylesheet">
       <script src="https://use.fontawesome.com/250724fe0b.js"></script>
       <link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">
        <!--menu overlay styles-->
		 <link rel="stylesheet" type="text/css" href="/stylesheets/style6.css" />
  		<script src="/JS/modernizr.custom.js"></script>
        
        
    </head>
    <body>
        <div class='site'>
        
        
            <nav>
                <div class='container-fluid fixNAVplz'>
                    <div class='row rowNav'>
                        <div class='col navEl'><a href="/">Home</a></div>
                        <div class='col navEl'><a href="../ourFirm">Our Firm</a></div>
                        <div class='col navEl'><a href="../professionals">Professionals</a></div>
                        <div class='col navEl'><a href="">Resources</a></div>
                        <div class='col navEl'><a href="">Contact Us</a></div>
                    </div>
                </div>
                <!--<i class="fa fa-bars fa-3x" aria-hidden="true" id="trigger-overlay"></i>-->
                
                <div class="overlay overlay-door">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="../ourFirm">Our Firm</a></li>
					<li><a href="#">Professionals</a></li>
					<li><a href="#">Resources</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</div>
		</nav>    
        <i class="fa fa-bars fa-3x" aria-hidden="true" id="trigger-overlay"></i>
