<% include ./partials/header %>

<header>
    
         <h1 id='headerH1'><span id='welcome'>Welcome</span> to the Mueller Law Firm</h1>
         <p id='headerP'>Mueller Law is a boutique family law firm with forty years of combined legal experience offering excellent representation delivered expediently with a measure of empathy.</p>
            <i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
</header>

<section id='landingPageSection'>
    <div class='container yoyo'>
        <div class="row" id='frontpagetop1'>
            <div class="col" id='frontpagetop'>
                <h1>COMMITMENT TO OUR CLIENTS</h1>
                <p>The Mueller Law Firm concentrates solely on representing a broad spectrum of clients 
                in all matters related to separation, child custody, child support, alimony, equitable distribution
                and all other legal issues arising out of marriage. The firm is committed to an approach that combines
                exceptional legal skills, experience, education and extraordinary service to ensure specific expectations
                and requirements of each client and case are achieved with a high degree of satisfaction.</p>
            </div>
        </div>
        <div class='row' id='frontpagepad'>
            <div class='col frontpageinfo'>
                <h1>Current Family Law Issues</h1>
                <p>Revised North Carolina Child Support Guidelines apply to all child support cases filed on or after January 1, 2011.  Federal law mandates that the Guidelines be reviewed and revised every four years.  The Guidelines were last revised October 1, 2006.  Please schedule a confidential consultation to determine how the revised Guidelines effect you.</p>
                
                <a id='downloads' href="/downloads/2006-nc-child-support-guidelines.swf" title="2006 North Carolina Child Support Guidelines" rel="lightbox;width=1000;height=800">Download the 2006 North Carolina Child Support Guidelines</a>
                <a id='downloads'href="/downloads/2011-nc-child-support-guidelines.swf" title="2011 North Carolina Child Support Guidelines" rel="lightbox;width=1000;height=800">Download the 2011 North Carolina Child Support Guidelines</a>
            </div>
            <div class='col frontpageinfo'>
                <h1>Confidential Consultations</h1>
                <p>Contact us today to schedule your confidential consultation.</p>

                    <p>You are invited to schedule an immediate confidential consultation with one of our highly trained and experienced attorneys, including Len C. Mueller, a board certified specialist in Family Law and a certified divorce and family financial mediator.</p>

                    <p>Please contact Nancy Dickson at (919) 676-5770 X201 to schedule an appointment by phone, or <a id ='nancysemail' href="mailto:n.dickson@muellerfamilylaw.com">click here to send her an e-mail</a></p>

                    <p>Thank you in advance for the opportunity to represent you.</p>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>