<% include ./partials/header %>

<header>
    
         <h1>Welcome to the Mueller Law Firm</h1>
         <p>Mueller Law is a boutique family law firm with forty years of combined legal experience <br> offering excellent representation delivered expediently with a measure of empathy.</p>
    
</header>



<% include ./partials/footer %>