<% include ./partials/header %>


<div class='ourFirm'>
		<div class='rotating-item-wrapper'>
			<img src='/assets/header-courthouse.jpg' class='rotating-item1' id='imgTop'>
			<img src='/assets/header-gavel.jpg' class='rotating-item1' id='imgTop'>
			<img src='/assets/header-sculpture.jpg' class='rotating-item1' id='imgTop'>
		</div>
		<div class='ourfirmjumbotron'>
			<div class='container'>
			<div class='row'>
				<div class='col-lg-8'>
					<div class='ourFirmTitle'>
						<h1><span class='ofts'>MUELLER</span> LAW... WORKING FOR <span class='ofts'>YOU</span></h1>
					</div>
					<div class='ourFirmOurMission'>
						<h1>Our Mission</h1>
						<p>Our mission at Mueller Law is to fully understand the goals and needs of our clients and to achieve them through alternative dispute resolution methods when possible.  Mueller Law proudly displays the sculpture “Reaching for the Middle” as our firm logo.  We hope you enjoy its beauty when visiting our office and share our vision.</p>
					</div>
					<div class='ourFirmPracticeAreas'>
						<h1>Practice Areas</h1>
						<p>Our firm's experience spans all facets of family law, including:</p>
						<ul>
							<li>Child Custody and Child Support</li>
							<li>Alimony and Post-Separation Support</li>
							<li>Equitable Distribution</li>
							<li>Premarital Agreements</li>
							<li>Separation and Property Settlement Agreements</li>
							<li>Alienation of Affections</li>
							<li>Criminal Conversation</li>
							<li>Domestic Violence</li>
							<li>Mediation</li>
							<li>Appeals</li>
						</ul>
					</div>
					
				</div>
				<div class='col-lg-4'>
					<div class='ourFirmCommitment'>
						<h1>COMMITMENT TO EDUCATION</h1>
						<p>Len C. Mueller taught for seven years as an Adjunct Professor of Law at Campbell University of Law. Hence, The Mueller Law Firm, P. A. is commited to education and is dedicated to assisting our clients with understanding their legal situation, no matter how complex.</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		
		<div class='rotating-item-wrapper'>
			<img src='/assets/header-courthouse.jpg' class='rotating-item2' id='imgBottom'>
			<img src='/assets/header-gavel.jpg' class='rotating-item2' id='imgBottom'>
			<img src='/assets/header-sculpture.jpg' class='rotating-item2' id='imgBottom'>
		</div>
</div>




















<% include ./partials/footer %>