<% include ./partials/header %>



<!-- section 1 starts-->
<div class="pary" data-parallax="scroll" data-image-src="/public/assets/downtownraleigh.jpeg"></div>
<!-- section 2 starts-->
<div id="first"></div>


<!-- section 3 starts-->
<div class="pary" data-parallax="scroll" data-image-src="/assets/raleigh2.jpg"></div>
<!-- section 4 starts-->
<div id="first"></div>

















<% include ./partials/footer %>